body {
    background-color: #efefef;
    text-align: left;
    margin: 0;
    margin-top: 4px;
    margin-left: 4px;
    overflow: hidden;
}

#board {
    touch-action: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
    cursor: crosshair;
}

#floatingButton {
    background: #97a5a8;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, opacity 1s;
    cursor: pointer;
}

#floatingButton:active {
    transform: scale(0.9, 0.9);
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.25;
    /* using this to replicate the transparent PNG */
}

.canvasRelative {
    position: relative;
    left: 0;
    opacity: 0.55;
    /* using this to replicate the transparent PNG */
}

.image1 {
    position: absolute;
    left: 0;
    margin-top: 16px;
}
.eruda-search-highlight-block{
    display:inline
}
.eruda-search-highlight-block .eruda-keyword{
    background:#fffbe5;color:#5c5c00
}
.input_block {
    display: inline-block;
}
.drawing_div {
    margin-top: 10px; 
    display: inline-block;
}
.drawing_speed_div {
    display: inline-block;
}
.drawing_error_txt {
    display: inline-block; 
    padding-left: 20px; 
    margin: 0; 
    color: red;
}
/* .btn {
    padding-top: 3px;
    padding-bottom: 3px;
} */

.input_block {
    display: flex;
    align-items: baseline;
    margin-right: 5px;
}
.form-control, .btn, .input-group-text{
    font-size: 13px;
    line-height: 12px;
    height: 23px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
.display-block {
    margin-right: 10px;
}
.btn {
    margin-right: 5px;
}
.fas {
    padding-top: 4px;
}
.draw-button {
    cursor: pointer;
}