body {
  background-color: #efefef;
  text-align: left;
  margin: 0;
  margin-top: 4px;
  margin-left: 4px;
  overflow: hidden;
}

#board {
  touch-action: none;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
  cursor: crosshair;
}

#floatingButton {
  background: #97a5a8;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s, opacity 1s;
  cursor: pointer;
}

#floatingButton:active {
  transform: scale(0.9, 0.9);
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.25;
  /* using this to replicate the transparent PNG */
}

.canvasRelative {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.55;
  /* using this to replicate the transparent PNG */
}

.image1 {
  position: absolute;
  top: 25px;
  left: 0;
}